
<ion-header>
  <ion-navbar>
    <ion-title>
      Detalle
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ng-container *ngIf="bird">
    <img class="head" src={{bird.image}}/>
    <h3 *ngIf="bird">
      <div class="bird-name" >{{bird.name}}</div>
    </h3>
    <p><b>Avistamientos:</b> {{bird.sightings}}</p>
    <p><b>Descripción:</b> {{bird.description}}</p>
    <button ion-button full class="button-dark" (click)="addSighting($event, bird.id)">Añadir avistamiento</button>

    <p class="text">Listado de avistamientos</p>
    <ion-list *ngIf="bird">
      <ion-item *ngFor="let sighting of bird.sightings_list">
        <div class="list-item">
          {{sighting.place}}
        </div>
      </ion-item>
    </ion-list>
    <!--<h4 text-center *ngIf="selectedItem">-->
      <!--You navigated here from <b>{{selectedItem.title}}</b>-->
    <!--</h4>-->
  </ng-container>
</ion-content>
