
<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="assets/imgs/RAVEN_OUTLINE.jpg" style="display: block; width: 35%; height: 35%; max-width: 250px; margin-left: auto; margin-right: auto;">
  </div>
  <form [formGroup]="loginFormGroup" (ngSubmit)="loginForm()">
    <div formGroupName="user">
      <ion-item>
        <ion-label name="email">
          <span class="input-label">Email</span>
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <span *ngIf="!loginFormGroup.get('user.email').valid && loginFormGroup.get('user.email').touched" class="help-block">
        <span *ngIf="loginFormGroup.get('user.email').errors['pattern']" class="error">El e-mail no es válido.</span></span>
      <ion-item>
        <ion-label name="password">
          <span class="input-label">Password</span>
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <span *ngIf="!loginFormGroup.get('user.password').valid && loginFormGroup.get('user.password').touched" class="help-block">
        <span *ngIf="loginFormGroup.get('user.password').errors['pattern']" class="error">La contraseña no es válida.<br></span>
        <span *ngIf="loginFormGroup.get('user.password').errors['minlength']" class="error">La contraseña es demasiado corta.</span></span>
    </div>
    <button ion-button full class="button-dark" [disabled]="!loginFormGroup.valid" type="submit">Login</button>
  </form>
</ion-content>
